{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="POST" class="post-form my-3">
        {% csrf_token %}
        {{ form.as_p }} <!-- 여기서 form은 question_create 함수에서 전달한 QuestionForm의 객체 -->
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}

<!--보통 form 태그에 action 속성을 지정하지 않으면 현재 페이지가 다시
호출된다고 보면 됨
원래는 form 태그에는 항상 action 속성을 지정하여
submit 실행시 action에 정의된 url로 폼 전송되는 것이 원칙-->