<!-- 부트스트랩 적용 코드 -->
<!-- base.html 템플릿을 상속받음 -->
{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %} <!-- question_list가 있다면 -->
        {% for question in question_list %} <!-- question_list를 반복하여 순차적으로 하나씩 question에 대입 -->
        <tr>
            <td>{{ forloop.counter }}</td> <!-- 루프내의 순서로 1부터 표시 -->
            <td>
                <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
            </td>
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td> <!-- colspan이 셀 병합 -->
        </tr>
        {% endif %}
        </tbody>
    </table>
    <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">질문 등록하기</a>
</div>
{% endblock %}


<!-- {{ question.id }} 뜻은 for문에 의해 대입된 question 객체의 id 번호를 출력 -->
<!-- {{ question.subject }} 뜻은 for문에 의해 대입된 question 객체의 제목을 출력 -->


